{% extends 'base.html' %}
{% load static %}

{% block titulo %}
Homepage Wayne
{% endblock %}

{% block content %}
<style>
    .banner-background {
        background-image: url("{% static 'images/banner-home.png' %}");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        min-height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
</style>
<div class="banner-background">
</div>
{% endblock %}