{% extends 'base.html' %}
{% load static %}

{% block titulo %}
Login - Indústrias Wayne
{% endblock %}

{% block content %}
<div class="banner-background">
        <div class="login-container">
            <div class="header-content">
                <img src="{% static 'images/logo.png' %}" alt="Logo Indústrias Wayne" class="logo">
            </div>
            <form action="{% url 'dashboard' %}" method="post">
                {% csrf_token %}
                <div class="input-container">
                    <i class="fas fa-user icon"></i>
                    <input type="text" name="matricula" placeholder="Matrícula" required>
                </div>
                <div class="input-container">
                    <i class="fas fa-lock icon"></i>
                    <input type="password" name="password" placeholder="Senha" required>
                </div>
                <div class="links">
                    <a href="#" id="esqueceu-senha">Esqueceu a senha?</a>
                    <a href="#" id="primeiro-acesso">1º Acesso</a>
                </div>
                <button id="login-button" type="submit">
                    <i class="fas fa-arrow-right"></i>
                </button>                
            </form>
        </div>
    </div>
{% endblock %}