.navbar-horizontal {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: #2c3e50;
    padding: 10px 20px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
}

.profile-section {
    display: flex;
    align-items: center;
    position: relative;
}

.profile-icon, .notification-icon, .expand-icon {
    font-size: 1.5rem; 
    color: #ecf0f1;
    margin: 0 10px;
}

.profile-name {
    color: #ecf0f1;
    margin-right: 10px;
    font-family: 'Trocchi', serif;
}

.expand-icon {
    cursor: pointer;
}

.dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    background-color: #34495e;
    border-radius: 5px;
    list-style-type: none;
    padding: 10px;
    margin: 0;
    width: 150px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.dropdown-menu li {
    margin: 0;
}

.dropdown-menu a {
    color: #ecf0f1;
    text-decoration: none;
    display: block;
    padding: 10px;
    font-family: 'Trocchi', serif;
}

.dropdown-menu a:hover {
    background-color: #34495e;
}

.profile-section:hover .dropdown-menu {
    display: block;
}
